* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

/* Header */
#headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:  linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
}

#headerTitle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #FFF;
    margin-top: 48px;
}

/* Header > search bar */
.searchInput {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 48px;
    gap: 16px;
}

.searchInput label {
    cursor: pointer;
}

.search {
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

label {
    margin: 4px;
}

input {
    background: none;
    border: none;
    color: #FFF;
    min-width: 70vw;
    height: 4em;
}

/* Cards */
