* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    background-color: #F3F5F7;
}

/* Header */
#headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:  linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
}

#headerTitle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #FFF;
    margin-top: 48px;
}

/* Header > search bar */
.searchInput {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 48px;
    gap: 16px;
}

.searchInput label {
    cursor: pointer;
}

.search {
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

label {
    margin: 4px;
}

input {
    background: none;
    border: none;
    color: #FFF;
    min-width: 70vw;
    height: 4em;
}

/* Cards */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFF;
    border-radius: 6px;
    padding: 32px;
    margin: 25px 25px;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
}

.cardInfo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.cardInfo h3 {
    font-size: 12px;
    font-weight: 400;
    color: #0000007d;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cardContent h2 {
    font-weight: 400;
    font-size: 16px;
}

.cardContent p {
    font-size: 12px;
}